<!DOCTYPE html>
<html>
  <head>
    <title>Yourdailyreset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="<%= @krisps_token %>" name="krisps"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.development? %>
      <meta content="http://localhost:3000/" name="base"/>
    <% elsif Rails.env.production? %>
      <meta content="http://yourdailyreset.com/" name="base"/>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
